n8n-workflows/sms-followup-workflow.json
{
  "name": "SMS Follow-up Campaign",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sms-followup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "sms-followup"
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "wait-24h",
      "name": "Wait 24 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get webhook data\nconst webhookData = $input.all()[0].json;\n\n// Extract variables and messages\nconst variables = webhookData.variables || {};\nconst messages = webhookData.messages || [];\nconst firstMessage = messages.find(m => m.sequence === 1);\n\nif (!firstMessage) {\n  return [];\n}\n\n// Replace all variables in message\nlet messageText = firstMessage.message;\nmessageText = messageText.replace(/\\{\\{name\\}\\}/g, variables.name || '');\nmessageText = messageText.replace(/\\{\\{date\\}\\}/g, variables.date || '');\nmessageText = messageText.replace(/\\{\\{time\\}\\}/g, variables.time || '');\nmessageText = messageText.replace(/\\{\\{service\\}\\}/g, variables.service || 'appointment');\nmessageText = messageText.replace(/\\{\\{phone\\}\\}/g, variables.phone || '');\nmessageText = messageText.replace(/\\{\\{address\\}\\}/g, variables.address || '');\n\n// Return formatted data\nreturn [{\n  json: {\n    executionId: webhookData.executionId,\n    phoneNumber: webhookData.phoneNumber,\n    message: messageText,\n    sequence: 1,\n    totalMessages: messages.length,\n    allMessages: messages,\n    variables: variables\n  }\n}];"
      },
      "id": "function-replace-vars",
      "name": "Replace Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "sendSMS",
        "from": "YOUR_VONAGE_NUMBER",
        "to": "={{ $json.phoneNumber }}",
        "text": "={{ $json.message }}"
      },
      "id": "vonage-sms",
      "name": "Send SMS via Vonage",
      "type": "n8n-nodes-base.vonage",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/webhooks/sms-status",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "executionId",
              "value": "={{ $('Replace Variables').item.json.executionId }}"
            },
            {
              "name": "messageId",
              "value": "={{ $json.messageId }}"
            },
            {
              "name": "status",
              "value": "sent"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "status-callback",
      "name": "Status Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Follow-up scheduled\" } }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Wait 24 Hours", "type": "main", "index": 0}]]
    },
    "Wait 24 Hours": {
      "main": [[{"node": "Replace Variables", "type": "main", "index": 0}]]
    },
    "Replace Variables": {
      "main": [[{"node": "Send SMS via Vonage", "type": "main", "index": 0}]]
    },
    "Send SMS via Vonage": {
      "main": [[{"node": "Status Callback", "type": "main", "index": 0}]]
    },
    "Status Callback": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-07T14:00:00.000Z",
  "versionId": "1"
}





